body{
background: #3AAFA9;
font-family: canada-type-gibson,sans-serif;
font-weight: 700;
margin : 0;
overflow-x: hidden;
}
@font-face {
    font-family: "brushgyo personal use";
    src: url('Fonts/brushgyo.otf');
}
@font-face {
    font-family: "Weather_Sunday";
    src: url('Fonts/Weather_Sunday.otf');
}
.header{
    background: #18252a;
    display: inline-flex;
    width:100vw;
    font-family:'Weather_Sunday';
    font-size:40px;
    height:55px;
    color: white;
    font-weight: 300;
    justify-content: center;
    align-items:center;
}
.container{
 height: 400px;
 width: 400px;
 background: #18252a;
 position: absolute;
 display: flex;
 justify-content:space-around;
 flex-direction: column;
 color: white;
 top:50%;
 left:50%;
 transform: translate(-50%,-50%);
 z-index: 2;

}
.container div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width:400px;
    margin-bottom: 20px;
    padding-left: 100px;
    height: 200px;
    font-weight: 600;
}
.container div label{
    padding:auto 0;
    padding: 12px 0;
    font-size: 20px;
}
.container div input{
 width: 200px;
 height : 30px;
}

.container button{
    /* background:#3AAFA9; */
    background: none;
    border: none;
    width: 100px;
    height: 50px;
    /* transform: perspective(1000px) rotateY(-30deg);  */
    font-family: inherit;
    font-weight: 600;
    margin-left: 150px;
    color: aliceblue;
    font-size:20px;
}
.container button:hover{
    background: white;
    color:#18252a;  
}
#root{
    width:80vw;
    background-color: white;  
    padding: 60px 0px;
    display: flex;
    align-items: center;
    height:fit-content;
    flex-direction: column;
    height: 100vh;
    margin:30px auto;
}
#root .AddButton button{
    background: #18252a;
    border: none;
    width: 150px;
    height: 40px;
    font-family: inherit;
    font-weight: 600;
    margin-left: 150px;
    color: white;
    font-size:20px;
    border-radius: 25px  25px;
    transform:translateX(-80px);
}
#root .list{
    background: #18252a;
    margin-top: 50px;
    width:80%;
    margin: 50px 40px;
    color: white;

}

#root .list ol{
    width: 100%;
    list-style-type: none;
    
}
#root .list ol li{
   width: 100%;
}
#root .list ol li div{
  width: 80%;
  background: white;
  color: #18252a;
  font-size: 25px;
 transform: translateX(-30px);
}
#root .list ol ul{
    list-style-type: none;
}
#root .list ol ul li div {
    width:105%;
    background: #3AAFA9;
    font-size: 18px;
    margin-top: 4px;
    
}

